vendor
Pods
Carthage
DerivedData

*.xcodeproj
*.xcworkspace
default.profraw
.env
.env.default
.env.local
.build
fastlane/README.md
fastlane/report.xml

fastlane/test_output
#Info.plist
#Entitlements.entitlements
Sources/App/Sources/SupportingFiles/Info.plist
.vscode
**/Derived
Environment.environment
.DS_Store
*.generated.swift
Generated
*-plugin.zip
build